/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */


/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #imgs2 {
        position: relative;
    right: -20%;
    width: 45%;
    top: 6px;
    /* height: 80%; */
    margin-left: auto;
    margin-right: auto;
}
.naaa{
      background: #b1afaf;
    padding-right: 24px;
    padding-left: 92px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    top: 1px;
    right: 6px;
    position: relative;
}
#lato-black {
  
    top: 72px;
}
#lato-light {
    
    top: 110px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 16px;
}
#menu {
    width: 29px;
    top: 0px;
    right: -25px;
    position: relative;
}
#lato {
    
    font-size: 10px;
}
#imgs {
    width: 101%;
}
.tablet {
    position: relative;
    right: -25%;
    overflow: hidden;
    width: 82%;
}
.phone {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    right: 62%;
    width: 37.5%;
    max-width: 277px;
    overflow: hidden;
}
#celulares {
   
    position: absolute;
    top: 27px;
    right: 18px;
    width: 85px;
    height: 152px;

}
#imgsss {
   position: absolute;
    top: 13px;
    right: 4%;
    width: 90%
}
.tabs {
    position: relative;
    width: 98%;
    right: -1%;
}
#conocenos {
    padding: 5px 39px;
    letter-spacing: 2px;
    top: 18px;
    position: relative;
    font-size: 41%;
}
#conocenos {
    right: 0%;
}
.imagenn{
  
    right: 75px;
    position: relative;
    width: 147%;
    top: -30px;


}
#imgess2{
  top: 20px;
  position: relative;

}
#clientess {
    top: 0px;
    text-align: center;
}
.col-sm-4, .col-md-4{
  text-align: center;
}
#texto {
    position: relative;
    text-align: center;
    top: -179px;
    right: 25px;
}
.lato-black {
    position: absolute;
    top: 47px;
    right: -5%;
    font-size: 74%;
    text-align: center;
}
.lato {
    position: absolute;
    top: 89px;
    right: -16%;
    font-size: 39%;
}
#mensaje {
    font-family: "Lato-Black";
    color: #fff;
    text-transform: uppercase;
    padding: 2px 29px;
    margin: 13px 76px;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    top: 132px;
    right: -8%;
    font-size: 49%;
}
#latoo {
    /* font-family: "Lato-Light"; */
    /* color: #777; */
    /* text-transform: uppercase; */
    font-size: 36%;
}
#nuestros {
    font-family: "Lato-Light";
    font-size: 30px;
    text-transform: uppercase;
}
#nuestro {
    font-family: "Lato-Black";
    font-size: 30px;
    text-transform: uppercase;
}
.text-center{
        text-align: center;
    font-size: 47%;
}
.span{
    font-size: 40%;
}


}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
 
#imgs2 {
        position: relative;
    right: -20%;
    width: 23%;
    top: 6px;
    /* height: 80%; */
    margin-left: auto;
    margin-right: auto;
}
.naaa{
      background: #b1afaf;
    padding-right: 24px;
    padding-left: 92px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    top: 3px;
    right: 6px;
    position: relative;
}
#mensaje {
    font-family: "Lato-Black";
    color: #fff;
    text-transform: uppercase;
    padding: 2px 29px;
    margin: 13px 76px;
    letter-spacing: 2px;
     position: absolute;
    text-align: center;
    top: 120px;
    right: 2%;
    font-size: 49%;
}
#lato-black {
  
       top: 55px;
    right: 7%;
}
#lato-light {
    
    top: 97px;
}

.navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 3px;
    line-height: 16px;
}
#menu {
    width: 29px;
    top: 0px;
    right: -25px;
    position: relative;
}
#lato {
    
    font-size: 12px;
}

.tablet {
    position: relative;
    right: -30%;
    overflow: hidden;
    width: 69%;
}
.phone {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    right: 61%;
    width: 34.5%;
    max-width: 277px;
    overflow: hidden;
}
.img2 {
    width: 15%;
}
.tabs {
    position: relative;
    width: 106%;
    right: 5%;
}
#celulares {
    position: absolute;
    top: 44px;
    right: 29px;
    width: 139px;
    height: 250px;
}
#conocenos {
    right: -1%;
}
#conocenos {
    padding: 3px 21px;
    letter-spacing: 2px;
    top: 25px;
    position: relative;
    /* right: 8px; */
}
#texto {
    position: relative;
    text-align: center;
    top: -184px;
    right: -66px;
}
}

/* ----------- iPhone 6 and 6s----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
   #imgs2 {
        position: relative;
    right: -25%;
    width: 37%;
    top: 6px;
    /* height: 80%; */
    margin-left: auto;
    margin-right: auto;
}
.naaa{
      background: #b1afaf;
    padding-right: 24px;
    padding-left: 92px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    top: 2px;
    right: 6px;
    position: relative;
}
#lato-black {
  
        top: 61px;
    right: 2%;
}
#lato-light {
    
    top: 101px;
    right: -4%;
}

.navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 16px;
}
#menu {
    width: 29px;
    top: 0px;
    right: -25px;
    position: relative;
}
#lato {
    
    font-size: 14px;
}
#imgs {
    width: 101%;
}
.tablet {
    position: relative;
    right: -25%;
    overflow: hidden;
    width: 82%;
}
.phone {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    right: 62%;
    width: 37.5%;
    max-width: 277px;
    overflow: hidden;
}
#celulares {
   
       position: absolute;
    top: 33px;
    right: 23px;
    width: 97px;
    height: 178px;

}
#imgsss {
   position: absolute;
    top: 16px;
    right: 4%;
    width: 89%;
}
.tabs {
    position: relative;
    width: 98%;
    right: -1%;
}
#conocenos {
    padding: 5px 39px;
    letter-spacing: 2px;
    top: 18px;
    position: relative;
    font-size: 41%;
}
#conocenos {
    right: 0%;
}
.imagenn{
  
    right: 75px;
    position: relative;
    width: 147%;
    top: -30px;


}
#imgess2{
  top: 20px;
  position: relative;

}
#clientess {
    top: 0px;
    text-align: center;
}
.col-sm-4, .col-md-4{
  text-align: center;
}
#texto {
    position: relative;
    text-align: center;
    top: -179px;
    right: 25px;
}
.lato-black {
    position: absolute;
    top: 42px;
    right: 0%;
    font-size: 78%;
    text-align: center;
}
.lato {
    position: absolute;
    top: 85px;
    right: -5%;
    font-size: 28%;
}
#mensaje {
    font-family: "Lato-Black";
    color: #fff;
    text-transform: uppercase;
    padding: 2px 29px;
    margin: 13px 76px;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    top: 120px;
    right: 0%;
    font-size: 49%;
}

#latoo {
    /* font-family: "Lato-Light"; */
    /* color: #777; */
    /* text-transform: uppercase; */
    font-size: 36%;
}
#nuestros {
    font-family: "Lato-Light";
    font-size: 30px;
    text-transform: uppercase;
}
#nuestro {
    font-family: "Lato-Black";
    font-size: 30px;
    text-transform: uppercase;
}
.text-center{
        text-align: center;
    font-size: 47%;
}
.span{
    font-size: 40%;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
 #imgs2 {
        position: relative;
    right: -20%;
    width: 45%;
    top: 6px;
    /* height: 80%; */
    margin-left: auto;
    margin-right: auto;
}
.naaa{
      background: #b1afaf;
    padding-right: 24px;
    padding-left: 92px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    top: 3px;
    right: 6px;
    position: relative;
}
#lato-black {
  
       top: 55px;
    right: 7%;
}
#mensaje {
    font-family: "Lato-Black";
    color: #fff;
    text-transform: uppercase;
    padding: 2px 29px;
    margin: 13px 76px;
    letter-spacing: 2px;
     position: absolute;
    text-align: center;
    top: 120px;
    right: 2%;
    font-size: 49%;
}
#lato-light {
    
    top: 97px;
}

.navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 3px;
    line-height: 16px;
}
#menu {
    width: 29px;
    top: 0px;
    right: -25px;
    position: relative;
}
#lato {
    
    font-size: 17px;
}

.tablet {
    position: relative;
    right: -30%;
    overflow: hidden;
    width: 69%;
}
.phone {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    right: 61%;
    width: 34.5%;
    max-width: 277px;
    overflow: hidden;
}
.img2 {
    width: 15%;
}
.tabs {
    position: relative;
    width: 106%;
    right: 5%;
}
#celulares {
    position: absolute;
    top: 52px;
    right: 35px;
    width: 161px;
    height: 292px;
}
#conocenos {
    right: -1%;
}
#conocenos {
    padding: 3px 21px;
    letter-spacing: 2px;
    top: 25px;
    position: relative;
    /* right: 8px; */
}
#texto {
    position: relative;
    text-align: center;
    top: -184px;
    right: -66px;
}
}
/* Nexus 6p */
@media only screen
and (min-device-width: 412px)
and (max-device-width: 732px)
and (orientation:portrait) {
    #celulares {
    position: absolute;
    top: 36px;
    right: 24px;
    width: 109px;
    height: 195px;
}
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
   #imgs2 {
        position: relative;
    right: -29%;
    width: 35%;
    top: 6px;
    /* height: 80%; */
    margin-left: auto;
    margin-right: auto;
}
#imgs {
    width: 101%;
}
.naaa{
      background: #b1afaf;
    padding-right: 24px;
    padding-left: 92px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    top: 3px;
    right: 6px;
    position: relative;
}
#lato-black {
  
       top: 55px;
    right: 7%;
}
#lato-light {
    
    top: 97px;
}

.navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 3px;
    line-height: 16px;
}
#menu {
    width: 29px;
    top: 0px;
    right: -25px;
    position: relative;
}
#lato {
    
    font-size: 17px;
}
.tablet {
    position: relative;
    right: -25%;
    overflow: hidden;
    width: 82%;
}
.phone {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    right: 62%;
    width: 37.5%;
    max-width: 277px;
    overflow: hidden;
}
#celulares {
       position: absolute;
    top: 34px;
    right: 23px;
    width: 109px;
    height: 199px;

}
#imgsss {
   position: absolute;
    top: 18px;
    right: 4%;
    width: 90%
}
.tabs {
    position: relative;
    width: 98%;
    right: -1%;
}
#conocenos {
    padding: 5px 39px;
    letter-spacing: 2px;
    top: 18px;
    position: relative;
    font-size: 41%;
}
#conocenos {
    right: 0%;
}
.imagenn{
  
    right: 75px;
    position: relative;
    width: 147%;
    top: -30px;


}
#imgess2{
  top: 20px;
  position: relative;

}
#clientess {
    top: 0px;
    text-align: center;
}
.col-sm-4, .col-md-4{
  text-align: center;
}
#texto {
    position: relative;
    text-align: center;
    top: -179px;
    right: 25px;
}
.lato-black {
    position: absolute;
    top: 42px;
    right: 0%;
    font-size: 78%;
    text-align: center;
}
.lato {
    position: absolute;
    top: 85px;
    right: -16%;
    font-size: 44%;
}
#mensaje {
    font-family: "Lato-Black";
    color: #fff;
    text-transform: uppercase;
    padding: 2px 29px;
    margin: 13px 96px;
    letter-spacing: 2px;
     position: absolute;
    text-align: center;
    top: 120px;
    right: 0%;
    font-size: 49%;
}
#latoo {
    /* font-family: "Lato-Light"; */
    /* color: #777; */
    /* text-transform: uppercase; */
    font-size: 36%;
}
#nuestros {
    font-family: "Lato-Light";
    font-size: 30px;
    text-transform: uppercase;
}
#nuestro {
    font-family: "Lato-Black";
    font-size: 30px;
    text-transform: uppercase;
}
.text-center{
        text-align: center;
    font-size: 47%;
}
#lato-light {
    
    font-size: 33%;
    right: -6%;
}
.lato-black {
    position: absolute;
    top: 43px;
    right: 5%;
    font-size: 78%;
    text-align: center;
}
.span{
    font-size: 40%;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

#imgs2 {
            position: relative;
    right: -35%;
    width: 20%;
    top: 6px;
    /* height: 80%; */
    margin-left: auto;
    margin-right: auto;
}
.naaa{
      background: #b1afaf;
    padding-right: 24px;
    padding-left: 92px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    top: 3px;
    right: 6px;
    position: relative;
}
#mensaje {
    font-family: "Lato-Black";
    color: #fff;
    text-transform: uppercase;
    padding: 2px 29px;
    margin: 13px 76px;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    top: 93px;
    right: 32%;
    font-size: 83%;
}
#lato-black {
  
      top: -27px;
    right: 22%;
   
    font-size: 31px;
}


#lato-light {
    
  top: 29px;
    right: 19%;
    font-size: 15px;
}

.navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 16px;
}
#menu {
    width: 45px;
    top: 0px;
    right: -25px;
    position: relative;
}
#lato {
    
    font-size: 28px;
}

.tablet {
    position: relative;
    right: -30%;
    overflow: hidden;
    width: 69%;
}
.phone {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    right: 61%;
    width: 34.5%;
    max-width: 277px;
    overflow: hidden;
}
.img2 {
    width: 15%;
}
.tabs {
    position: relative;
    width: 106%;
    right: 5%;
}
#celulares {
        position: absolute;
    top: 52px;
    right: 35px;
    width: 162px;
    height: 293px;
}
#conocenos {
    right: -1%;
}
#conocenos {
    padding: 3px 21px;
    letter-spacing: 2px;
    top: 25px;
    position: relative;
    /* right: 8px; */
}
#texto {
    position: relative;
    text-align: center;
    top: -184px;
    right: -66px;
}

}

/* ----------- Galaxy S5 ----------- */




/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
#imgs2 {
       position: relative;
    right: -21%;
    width: 41%;
    top: 5px;
    /* height: 80%; */
    margin-left: auto;
    margin-right: auto;
}
.naaa{
      background: #b1afaf;
    padding-right: 24px;
    padding-left: 92px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    top: 3px;
    right: 4px;
    position: relative;
}
#lato-black {
  
    top: 60px;
}
#lato-light {
    
    top: 97px;
}

.navbar-nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 16px;
}
#menu {
    width: 29px;
    top: 0px;
    right: -25px;
    position: relative;
}
#lato {
    
    font-size: 10px;
}

#imgs {
    width: 101%;
}
.tablet {
    position: relative;
    right: -25%;
    overflow: hidden;
    width: 82%;
}
.phone {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    right: 62%;
    width: 37.5%;
    max-width: 277px;
    overflow: hidden;
}
#celulares {
   
    position: absolute;
    top: 30px;
    right: 21px;
    width: 94px;
    height: 171px;

}
#imgsss {
   position: absolute;
        top: 16px;
    right: 4%;
    width: 89%;
}
.tabs {
    position: relative;
    width: 98%;
    right: -1%;
}
#conocenos {
    padding: 5px 39px;
    letter-spacing: 2px;
    top: 18px;
    position: relative;
    font-size: 41%;
}
#conocenos {
    right: 0%;
}
.imagenn{
  
    right: 75px;
    position: relative;
    width: 147%;
    top: -30px;


}
#imgess2{
  top: 20px;
  position: relative;

}
#clientess {
    top: 0px;
    text-align: center;
}
.col-sm-4, .col-md-4{
  text-align: center;
}
#texto {
    position: relative;
    text-align: center;
    top: -179px;
    right: 25px;
}
.lato-black {
    position: absolute;
    top: 42px;
    right: 0%;
    font-size: 78%;
    text-align: center;
}
.lato {
    position: absolute;
    top: 85px;
    right: -16%;
    font-size: 44%;
}
#mensaje {
    font-family: "Lato-Black";
    color: #fff;
    text-transform: uppercase;
    padding: 2px 29px;
    margin: 13px 76px;
    letter-spacing: 2px;
     position: absolute;
    text-align: center;
    top: 120px;
    right: 2%;
    font-size: 49%;
}
#latoo {
    /* font-family: "Lato-Light"; */
    /* color: #777; */
    /* text-transform: uppercase; */
    font-size: 36%;
}
#nuestros {
    font-family: "Lato-Light";
    font-size: 30px;
    text-transform: uppercase;
}
#nuestro {
    font-family: "Lato-Black";
    font-size: 30px;
    text-transform: uppercase;
}
.text-center{
        text-align: center;
    font-size: 47%;
}
.span{
    font-size: : 40%;
}

  
}

/* Landscape */
@media screen 
  and (device-width: 640px) 
  and (device-height: 360px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
#imgs2 {
        position: relative;
    right: -20%;
    width: 23%;
    top: 6px;
    /* height: 80%; */
    margin-left: auto;
    margin-right: auto;
}
.naaa{
      background: #b1afaf;
    padding-right: 24px;
    padding-left: 92px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    top: 3px;
    right: 6px;
    position: relative;
}
#mensaje {
    font-family: "Lato-Black";
    color: #fff;
    text-transform: uppercase;
    padding: 2px 29px;
    margin: 13px 76px;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    top: 103px;
    right: 30%;
    font-size: 85%;
}
#lato-black {
  
       top: -10px;
    right: 20%;
}
#lato-light {
    
    top: 45px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 16px;
}
#menu {
    width: 35px;
    top: 0px;
    right: -25px;
    position: relative;
}
#lato {
    
    font-size: 25px;
}

.tablet {
    position: relative;
    right: -30%;
    overflow: hidden;
    width: 69%;
}
.phone {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    right: 61%;
    width: 34.5%;
    max-width: 277px;
    overflow: hidden;
}
.img2 {
    width: 15%;
}
.tabs {
    position: relative;
    width: 106%;
    right: 5%;
}
#celulares {
    position: absolute;
    top: 48px;
    right: 32px;
    width: 158px;
    height: 283px;
}
#conocenos {
    right: -1%;
}
#conocenos {
    padding: 3px 21px;
    letter-spacing: 2px;
    top: 25px;
    position: relative;
    /* right: 8px; */
}
#texto {
    position: relative;
    text-align: center;
    top: -184px;
    right: -66px;
}

  }

/* Portrait */
@media screen 
  and (device-width: 540) 
  and (device-height: 960) 

  and (orientation: portrait) {
#imgs2 {
       position: relative;
    right: -21%;
    width: 41%;
    top: 5px;
    /* height: 80%; */
    margin-left: auto;
    margin-right: auto;
}
.naaa{
      background: #b1afaf;
    padding-right: 24px;
    padding-left: 92px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    top: 3px;
    right: 4px;
    position: relative;
}
#lato-black {
  
    top: 60px;
}
#lato-light {
    
    top: 97px;
}

.navbar-nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 16px;
}
#menu {
    width: 29px;
    top: 0px;
    right: -25px;
    position: relative;
}
#lato {
    
    font-size: 10px;
}

#imgs {
    width: 101%;
}
.tablet {
    position: relative;
    right: -25%;
    overflow: hidden;
    width: 82%;
}
.phone {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    right: 62%;
    width: 37.5%;
    max-width: 277px;
    overflow: hidden;
}
#celulares {
   
    position: absolute;
    top: 30px;
    right: 21px;
    width: 94px;
    height: 171px;

}
#imgsss {
   position: absolute;
        top: 16px;
    right: 4%;
    width: 89%;
}
.tabs {
    position: relative;
    width: 98%;
    right: -1%;
}
#conocenos {
    padding: 5px 39px;
    letter-spacing: 2px;
    top: 18px;
    position: relative;
    font-size: 41%;
}
#conocenos {
    right: 0%;
}
.imagenn{
  
    right: 75px;
    position: relative;
    width: 147%;
    top: -30px;


}
#imgess2{
  top: 20px;
  position: relative;

}
#clientess {
    top: 0px;
    text-align: center;
}
.col-sm-4, .col-md-4{
  text-align: center;
}
#texto {
    position: relative;
    text-align: center;
    top: -179px;
    right: 25px;
}
.lato-black {
    position: absolute;
    top: 42px;
    right: 0%;
    font-size: 78%;
    text-align: center;
}
.lato {
    position: absolute;
    top: 85px;
    right: -16%;
    font-size: 44%;
}
#mensaje {
    font-family: "Lato-Black";
    color: #fff;
    text-transform: uppercase;
    padding: 2px 29px;
    margin: 13px 76px;
    letter-spacing: 2px;
     position: absolute;
    text-align: center;
    top: 120px;
    right: 2%;
    font-size: 49%;
}
#latoo {
    /* font-family: "Lato-Light"; */
    /* color: #777; */
    /* text-transform: uppercase; */
    font-size: 36%;
}
#nuestros {
    font-family: "Lato-Light";
    font-size: 30px;
    text-transform: uppercase;
}
#nuestro {
    font-family: "Lato-Black";
    font-size: 30px;
    text-transform: uppercase;
}
.text-center{
        text-align: center;
    font-size: 47%;
}
.span{
    font-size: : 40%;
}

  
}

/* Landscape */
@media screen 
  and (device-width: 540px) 
  and (device-height: 960px) 

  and (orientation: landscape) {
#imgs2 {
        position: relative;
    right: -20%;
    width: 23%;
    top: 6px;
    /* height: 80%; */
    margin-left: auto;
    margin-right: auto;
}
.naaa{
      background: #b1afaf;
    padding-right: 24px;
    padding-left: 92px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    top: 3px;
    right: 6px;
    position: relative;
}
#mensaje {
    font-family: "Lato-Black";
    color: #fff;
    text-transform: uppercase;
    padding: 2px 29px;
    margin: 13px 76px;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    top: 103px;
    right: 30%;
    font-size: 85%;
}
#lato-black {
  
       top: -10px;
    right: 20%;
}
#lato-light {
    
    top: 45px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 16px;
}
#menu {
    width: 35px;
    top: 0px;
    right: -25px;
    position: relative;
}
#lato {
    
    font-size: 25px;
}

.tablet {
    position: relative;
    right: -30%;
    overflow: hidden;
    width: 69%;
}
.phone {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    right: 61%;
    width: 34.5%;
    max-width: 277px;
    overflow: hidden;
}
.img2 {
    width: 15%;
}
.tabs {
    position: relative;
    width: 106%;
    right: 5%;
}
#celulares {
    position: absolute;
    top: 48px;
    right: 32px;
    width: 158px;
    height: 283px;
}
#conocenos {
    right: -1%;
}
#conocenos {
    padding: 3px 21px;
    letter-spacing: 2px;
    top: 25px;
    position: relative;
    /* right: 8px; */
}
#texto {
    position: relative;
    text-align: center;
    top: -184px;
    right: -66px;
}

  }











